[live]
url = https://api.domrobot.com/xmlrpc/
username = your_username
password = your_password

[automatic_nameserver_entry_update]
domain = example.com
subdomain = subdomain.example.com
default_ip = 127.0.0.1
